* { box-sizing: border-box; }
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: PingFang C ,'Avenir','Helvetica Neue', Helvetica, STHeiTi, sans-serif;
    width: 100%;
    background: #f8f8f8;

}
ol,ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: 500;
}
ins,a{
    text-decoration: none;
}
fieldset, img {
    border: 0;
}
input[type=checkbox],input[type=text],input[type=submit],input[type=password],textarea,button,a,img{
    -webkit-appearance: none;
}
img{
    vertical-align: top;
    max-width: 100%;
    width: 100%;
}
@font-face {
    font-family: 'custom-iconfont';
    src:  url('../../lib/fonts/icomoon.eot?abvobc');
    src:  url('../../lib/fonts/icomoon.eot?abvobc#iefix') format('embedded-opentype'),
    url('../../lib/fonts/icomoon.ttf?abvobc') format('truetype'),
    url('../../lib/fonts/icomoon.woff?abvobc') format('woff'),
    url('../../lib/fonts/icomoon.svg?abvobc#icomoon') format('svg');
}
.van-icon{
    font-family: 'vant-icon','custom-iconfont' !important;
}
.van-icon-barIcon3:before {
    content: "\e94f";
}
.van-icon-barIcon3-active:before {
    content: "\e950";
}
.van-icon-barIcon2:before {
    content: "\e94d";
}
.van-icon-barIcon2-active:before {
    content: "\e94e";
}
.van-icon-barIcon1:before {
    content: "\e900";
}
.van-icon-barIcon4-active:before {
    content: "\e955";
}
.van-icon-barIcon4:before {
    content: "\e953";
}